<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csixhsix.bookmarket.mapper.BookMapper">

    <select id="getBookInfo" resultType="com.csixhsix.bookmarket.data.BookVO">
        select * from book_info order by bi_seq desc limit 10 offset #{offset}
    </select>
    <select id="getBookCount" resultType="java.lang.Integer">
        select count(*) from book_info
    </select>
    <insert id="addBook">
        insert into book_info (bi_name, bi_sub, bi_cop, bi_cate, bi_status, bi_stock, bi_pub_dt, bi_writer, bi_point)
        values(#{bi_name}, #{bi_sub}, #{bi_cop}, #{bi_cate}, #{bi_status}, #{bi_stock}, #{bi_pub_dt}, #{bi_writer}, #{bi_point})
    </insert>
    <delete id="deleteBook">
        delete from book_info where bi_seq=#{seq}
    </delete>
    <select id="getBookInfoBySeq" resultType="com.csixhsix.bookmarket.data.BookVO">
        select * from book_info where bi_seq=#{seq}
    </select>
    <update id="updateBook">
        update book_info
        set bi_name=#{di_name}, bi_sub=#{bi_sub}, bi_cop=#{bi_cop}, bi_cate=#{bi_cate}, bi_status=#{bi_status}, bi_stock=#{bi_stock},
        bi_pub_dt=#{bi_pub_dt}, bi_writer=#{bi_writer}, bi_point=#{bi_point} bi_mod_dt=NOW() where bi_seq=#{bi_seq}
    </update>
</mapper>
