<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csixhsix.bookmarket.mapper.StoreBoardMapper">
    <select id="TotalBookCnt" resultType="java.lang.Integer">
        select count(*) from book_info
    </select>
    <select id="sellOffBookCnt" resultType="java.lang.Integer">
        select count(*) from sell_info
    </select>
    <select id="NewBookCnt" resultType="java.lang.Integer">
        select count(*) from book_info where bi_status=1
    </select>
    <select id="CategoryCnt" resultType="java.lang.Integer">
        select count(*) from category_info
    </select>


    <select id="TotalUserCnt" resultType="java.lang.Integer">
        select count(*) from user_info
    </select>
    <select id="NewUserCnt" resultType="java.lang.Integer">
        select count(*) from user_info where ui_status=1
    </select>
    <select id="LeaveUserCnt" resultType="java.lang.Integer">
        select count(*) from user_info where ui_status=2
    </select>



    <select id="TotalCompanyCnt" resultType="java.lang.Integer">
        select count(*) from company_info
    </select>
    <select id="TotalWriterCnt" resultType="java.lang.Integer">
        select count(*) from writer_info
    </select>

    <select id="getBookUpdateDate" resultType="java.util.Date">
        select bkh_reg_dt from book_history order by bkh_reg_dt desc limit 1
    </select>
    <select id="getCompanyUpdateDate" resultType="java.util.Date">
        select coph_reg_dt from company_history order by coph_reg_dt desc limit 1
    </select>
    <select id="getWriterUpdateDate" resultType="java.util.Date">
        select wrih_reg_dt from writer_history order by wrih_reg_dt desc limit 1
    </select>
</mapper>